<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
<h1>This is my HTML form</h1>
<div class="calculate">
    <h1>Calculate Average Marks</h1>
    <form method="post">
        <input type="text" name="maths" placeholder="Maths" required="required">
        <input type="text" name="science" placeholder="Science" required="required">
        <input type="text" name="history" placeholder="History" required="required">
        <button type="submit">Calculate</button>
    </form>
</div>
</body>
</html>
