<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
     Subject1:
        <input type="text" name="first" placeholder="enter maths marks"><br>
        <input type="text" name="second" placeholder="enter science marks"><br>
        <input type="text" name="third" placeholder="enter history marks"><br>
         <button>submit</button>
    </form>
</body>
</html>